apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-hu3m
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-phzj-tenant/quarkus/devfile-sample-code-with-quarkus-hu3m@sha256:f154f13cb250a030189c67be826890f3eba3ed74d4a76c2d50ed451ec735dc49
        name: my-java-quarkus
        resources: {}
status: {}
